<?xml version='1.1' encoding='UTF-8'?>
<project>
    <actions/>
    <description></description>
    <keepDependencies>false</keepDependencies>
    <properties>
        <hudson.model.ParametersDefinitionProperty>
            <parameterDefinitions>
                <hudson.model.StringParameterDefinition>
                    <name>PIPECTL_DIST_URL_PATH</name>
                    <description></description>
                    <defaultValue></defaultValue>
                    <trim>false</trim>
                </hudson.model.StringParameterDefinition>
            </parameterDefinitions>
        </hudson.model.ParametersDefinitionProperty>
        <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.0.1">
            <maxConcurrentPerNode>1</maxConcurrentPerNode>
            <maxConcurrentTotal>1</maxConcurrentTotal>
            <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
            <throttleEnabled>true</throttleEnabled>
            <throttleOption>project</throttleOption>
            <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
            <paramsToUseForLimit></paramsToUseForLimit>
        </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
    </properties>
    <scm class="hudson.scm.NullSCM"/>
    <canRoam>true</canRoam>
    <disabled>false</disabled>
    <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
    <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
    <authToken>${JENKINS_JOB_TOKEN}</authToken>
    <triggers>
        <hudson.triggers.TimerTrigger>
            <spec>$CP_E2E_SCHEDULE</spec>
        </hudson.triggers.TimerTrigger>
    </triggers>
    <concurrentBuild>false</concurrentBuild>
    <builders>
        <hudson.tasks.Shell>
            <command>${BUILD_COMMAND}</command>
        </hudson.tasks.Shell>
    </builders>
    <publishers>
        <hudson.plugins.emailext.ExtendedEmailPublisher plugin="email-ext@2.61">
            <recipientList>${CP_DEFAULT_RECIPIENT_EMAILS}</recipientList>
            <configuredTriggers>
                <hudson.plugins.emailext.plugins.trigger.AlwaysTrigger>
                    <email>
                        <subject>$PROJECT_DEFAULT_SUBJECT</subject>
                        <body>$PROJECT_DEFAULT_CONTENT</body>
                        <recipientProviders>
                            <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
                        </recipientProviders>
                        <attachmentsPattern></attachmentsPattern>
                        <attachBuildLog>true</attachBuildLog>
                        <compressBuildLog>false</compressBuildLog>
                        <replyTo>$PROJECT_DEFAULT_REPLYTO</replyTo>
                        <contentType>project</contentType>
                    </email>
                </hudson.plugins.emailext.plugins.trigger.AlwaysTrigger>
            </configuredTriggers>
            <contentType>default</contentType>
            <defaultSubject>$DEFAULT_SUBJECT</defaultSubject>
            <defaultContent>$DEFAULT_CONTENT &lt;a href=&quot;http://${JENKINS_HOST}:${JENKINS_PORT}/view/job/${JENKINS_GCP_GUI_TEST_JOB_NAME}/ws/e2e/gui/build/reports/tests/test/index.html&quot;&gt;&lt;p&gt;See index.html report&lt;/a&gt;
            </defaultContent>
            <attachmentsPattern></attachmentsPattern>
            <presendScript>$DEFAULT_PRESEND_SCRIPT</presendScript>
            <postsendScript>$DEFAULT_POSTSEND_SCRIPT</postsendScript>
            <attachBuildLog>true</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo>${DEFAULT_REPLYTO}</replyTo>
            <saveOutput>false</saveOutput>
            <disabled>false</disabled>
        </hudson.plugins.emailext.ExtendedEmailPublisher>
    </publishers>
    <buildWrappers/>
</project>
