{
  "plugins": [
    "transform-decorators-legacy",
    [
      "transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ],
    "external-helpers",
    [
      "import",
      [
        {
          "libraryName": "antd",
          "style": true
        },
        {
          "libraryName": "ui-portal-boilerplate",
          "libraryDirectory": "components"
        }
      ]
    ]
  ],
  "presets": [
    "env",
    "stage-0",
    "react-app"
  ]
}
