.container {
  flex: 1;
}

.alert-container {
  border: 1px dashed #ccc;
  border-radius: 10px;
}

.alert {
  font-size: large;
  color: #999;
}

.chart-canvas {
  opacity: 1;
  transition: opacity 0.25s;
}
