.actions button {
  margin-left: 5px;
}

.user-icon {
  width: 20px;
}

.user-actions {
  text-align: right;
}

.user-allow-deny-actions {
  text-align: center;
}

.row {
  cursor: pointer;
}

.table > div > div {
  filter: none !important;
}
