.launch-form-parameter {
  margin: 7px 0;
}

.launch-form-parameter > *:not(:last-child) {
  margin-bottom: 2px;
}

.parameter-description {
  overflow-wrap: break-word;
}

.parameter-description table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  max-width: 100%;
}

.parameter-description table tbody,
.parameter-description table thead {
  display: table;
  width: 100%;
}
