.configuration-row {
  cursor: pointer;
}

.configuration-row-default {
  font-style: italic;
}

.configuration-row-selected {
  background-color: #dfeefa;
  cursor: pointer;
}

.configuration-row-actions {
  text-align: right;
}

.configuration-row-actions button {
  margin-left: 5px;
}

.full-height-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.action-buttons {
  text-align: right;
  padding-right: 15px;
}

.action-buttons button {
  margin-left: 5px;
}

.configuration-item-title {
  max-width: 170px;
  overflow: hidden;
}

.configuration-item-delete-button {

}

.add-configuration-button-container {
  width: 100%;
  padding: 5px;
}

.add-configuration-button {
  width: 100%;
  text-align: center;
}

.tabs > div {
  margin: 0;
  padding-right: 15px;
}

.readonly {

}
