.section-table-body {
  width: 100%;
  table-layout: fixed;
}

.preview-header td {
  padding: 5px;
}

.preview-header button {
  margin-right: 5px;
  margin-top: 2px;
}

.key-row {
  background-color: #f9f9f9;
  color: #777;
}

.key-cell {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.key-row td,
.value-row td {
  padding: 2px 5px;
  border: 1px solid transparent;
}

.divider td div {
  height: 1px;
  background-color: #ddd;
  margin: 2px 0;
}

.section {
  border-radius: 0;
  margin-bottom: 5px;
  border: 1px solid #ccc;
}

.section div[role=tabpanel] {
  padding: 0;
}
