{
  "server": "https://3.120.128.49:31081/webdav/PIPE_ADMIN",
  "ignoreCertificateErrors": true,
  "username": "PIPE_ADMIN",
  "password": "eyJhbGciOiJSUzUxMiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJQSVBFX0FETUlOIiwidXNlcl9pZCI6IjEiLCJyb2xlcyI6WyJST0xFX0FETUlOIl0sImdyb3VwcyI6W10sImV4cCI6MTU5NTY4MzM0NSwiaWF0IjoxNTkzMDA0OTQ2LCJqdGkiOiJiMWU1NWNmYy0zMGIzLTRiODAtYWM1OC02OTA1ZWFkYWQxZGQifQ.b3vB8cmQZTUiG-9ZbvzEri6QLMcGE8B3UbJ1FHFKyoRQ5_vdQuoOff2qyksjeygJt6Cs66zVmW--cPcrg1DmXW53M041JYia7vyTEFAg-MiIhKx2v36PmBwUpTmefuUeciTJsZgi_5YgPgqp3r7PMJq7PJJynKwXhDVP5fAN0Vc"
}
