<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="UITests" verbose="1" parallel="classes" thread-count="1">

    <test name="RunToolsInSandBoxTest">
        <classes>
            <class name="com.epam.pipeline.autotests.RunToolsInSandBoxTest"/>
        </classes>
    </test>

    <test name="RunToolsInSandboxCheckDataStorageTest">
        <classes>
            <class name="com.epam.pipeline.autotests.RunToolsInSandboxCheckDataStorageTest"/>
        </classes>
    </test>

    <test name="PipelineReleaseTest">
        <classes>
            <class name="com.epam.pipeline.autotests.PipelineReleaseTest"/>
        </classes>
    </test>

    <test name="PipelineEditingTest">
        <classes>
            <class name="com.epam.pipeline.autotests.PipelineEditingTest"/>
        </classes>
    </test>

    <test name="PipelineEditingRepositoryTest">
        <classes>
            <class name="com.epam.pipeline.autotests.PipelineEditingRepositoryTest"/>
        </classes>
    </test>

    <test name="SshShellTest">
        <classes>
            <class name="com.epam.pipeline.autotests.SshShellTest"/>
        </classes>
    </test>

    <test name="SshPermissionTest">
        <classes>
            <class name="com.epam.pipeline.autotests.SshPermissionTest"/>
        </classes>
    </test>

    <test name="LaunchClusterTest">
        <classes>
            <class name="com.epam.pipeline.autotests.LaunchClusterTest"/>
        </classes>
    </test>

    <test name="RunPipelineWithOutputParameterTest">
        <classes>
            <class name="com.epam.pipeline.autotests.RunPipelineWithOutputParameterTest"/>
        </classes>
    </test>

    <test name="RunPipelineWithSeveralOutputParametersTest">
        <classes>
            <class name="com.epam.pipeline.autotests.RunPipelineWithSeveralOutputParametersTest"/>
        </classes>
    </test>

    <test name="LaunchParametersNavigationTest">
        <classes>
            <class name="com.epam.pipeline.autotests.LaunchParametersNavigationTest"/>
        </classes>
    </test>

    <test name="LaunchParametersRoleModelTest">
        <classes>
            <class name="com.epam.pipeline.autotests.LaunchParametersRoleModelTest"/>
        </classes>
    </test>

    <test name="LaunchParametersTypesTest">
        <classes>
            <class name="com.epam.pipeline.autotests.LaunchParametersTypesTest"/>
        </classes>
    </test>

    <test name="Launch_NonRequiredParameterTest">
        <classes>
            <class name="com.epam.pipeline.autotests.Launch_NonRequiredParameterTest"/>
        </classes>
    </test>

    <test name="Launch_InstanceConfigTest">
        <classes>
            <class name="com.epam.pipeline.autotests.Launch_InstanceConfigTest"/>
        </classes>
    </test>

    <test name="Launch_ParameterWithNoValueTest">
        <classes>
            <class name="com.epam.pipeline.autotests.Launch_ParameterWithNoValueTest"/>
        </classes>
    </test>

    <test name="Launch_DifferentTypesParametersValidationTest">
        <classes>
            <class name="com.epam.pipeline.autotests.Launch_DifferentTypesParametersValidationTest"/>
        </classes>
    </test>

    <test name="Launch_InputDataValidationTest">
        <classes>
            <class name="com.epam.pipeline.autotests.Launch_InputDataValidationTest"/>
        </classes>
    </test>

    <test name="PipelineConfigurationTest">
        <classes>
            <class name="com.epam.pipeline.autotests.PipelineConfigurationTest"/>
        </classes>
    </test>

    <test name="LaunchParameterRemoveParameterTest">
        <classes>
            <class name="com.epam.pipeline.autotests.LaunchParameterRemoveParameterTest"/>
        </classes>
    </test>

    <test name="DetachedConfigurationsTest">
        <classes>
            <class name="com.epam.pipeline.autotests.DetachedConfigurationsTest"/>
        </classes>
    </test>

    <test name="Launch_PipelineRunTimeoutTest" >
        <classes>
            <class name="com.epam.pipeline.autotests.Launch_PipelineRunTimeoutTest" />
        </classes>
    </test>

    <test name="RunPipelineTest" >
        <classes>
            <class name="com.epam.pipeline.autotests.RunPipelineTest" />
        </classes>
    </test>

    <test name="PipelineDetailsTest">
        <classes>
            <class name="com.epam.pipeline.autotests.PipelineDetailsTest"/>
        </classes>
    </test>

    <test name="Launch_OutputParameterTest">
        <classes>
            <class name="com.epam.pipeline.autotests.Launch_OutputParameterTest"/>
        </classes>
    </test>

    <test name="Launch_JsonOutputFileTest">
        <classes>
            <class name="com.epam.pipeline.autotests.Launch_JsonOutputFileTest"/>
        </classes>
    </test>

    <test name="ToolsParametersTest">
        <classes>
            <class name="com.epam.pipeline.autotests.ToolsParametersTest"/>
        </classes>
    </test>

    <test name="PipelineFromTemplateTest">
        <classes>
            <class name="com.epam.pipeline.autotests.PipelineFromTemplateTest"/>
        </classes>
    </test>

    <test name="GlobalSearchTest">
        <classes>
            <class name="com.epam.pipeline.autotests.GlobalSearchTest"/>
        </classes>
    </test>

    <test name="RunsTest">
        <classes>
            <class name="com.epam.pipeline.autotests.RunsTest"/>
        </classes>
    </test>

    <test name="Launch_LimitMountsTest">
        <classes>
            <class name="com.epam.pipeline.autotests.LaunchLimitMountsTest"/>
        </classes>
    </test>

    <test name="SharingRunsTest">
        <classes>
            <class name="com.epam.pipeline.autotests.SharingRunsTest"/>
        </classes>
    </test>

    <test name="PipelineLibraryTest">
        <classes>
            <class name="com.epam.pipeline.autotests.PipelineLibraryTest"/>
        </classes>
    </test>

    <test name="LimitMountsTest">
        <classes>
            <class name="com.epam.pipeline.autotests.LimitMountsTest"/>
        </classes>
    </test>
</suite>
