<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="UITests" verbose="1" parallel="classes" thread-count="1">

    <test name="RunToolsInSandBoxTest">
        <classes>
            <class name="com.epam.pipeline.autotests.RunToolsInSandBoxTest"/>
        </classes>
    </test>

    <test name="RunToolsInSandboxCheckDataStorageTest">
        <classes>
            <class name="com.epam.pipeline.autotests.RunToolsInSandboxCheckDataStorageTest"/>
        </classes>
    </test>

    <test name="StorageRulesTest">
        <classes>
            <class name="com.epam.pipeline.autotests.StorageRulesTest"/>
        </classes>
    </test>

    <test name="NfsDataStorageTest">
        <classes>
            <class name="com.epam.pipeline.autotests.NfsDataStorageTest"/>
        </classes>
    </test>

    <test name="PipelineReleaseTest">
        <classes>
            <class name="com.epam.pipeline.autotests.PipelineReleaseTest"/>
        </classes>
    </test>

    <test name="PipelineEditingTest">
        <classes>
            <class name="com.epam.pipeline.autotests.PipelineEditingTest"/>
        </classes>
    </test>

    <test name="PipelineEditingRepositoryTest">
        <classes>
            <class name="com.epam.pipeline.autotests.PipelineEditingRepositoryTest"/>
        </classes>
    </test>

    <test name="ToolsTest">
        <classes>
            <class name="com.epam.pipeline.autotests.ToolsTest"/>
        </classes>
    </test>

    <!--<test name="RegistryAdditionDeletionTest">-->
        <!--<classes>-->
            <!--<class name="com.epam.pipeline.autotests.RegistryAdditionDeletionTest"/>-->
        <!--</classes>-->
    <!--</test>-->

    <test name="DataStoragesTest">
        <classes>
            <class name="com.epam.pipeline.autotests.DataStoragesTest"/>
        </classes>
    </test>

    <test name="StoragePaginationTest">
        <classes>
            <class name="com.epam.pipeline.autotests.StoragePaginationTest"/>
        </classes>
    </test>

    <test name="RoleModelTest">
        <classes>
            <class name="com.epam.pipeline.autotests.RoleModelTest"/>
        </classes>
    </test>

    <!--<test name="RegistryTest">-->
        <!--<classes>-->
            <!--<class name="com.epam.pipeline.autotests.RegistryTest"/>-->
        <!--</classes>-->
    <!--</test>-->

    <test name="SshShellTest">
        <classes>
            <class name="com.epam.pipeline.autotests.SshShellTest"/>
        </classes>
    </test>

    <test name="SshPermissionTest">
        <classes>
            <class name="com.epam.pipeline.autotests.SshPermissionTest"/>
        </classes>
    </test>

    <test name="DockerCommitTest">
        <classes>
            <class name="com.epam.pipeline.autotests.DockerCommitTest"/>
        </classes>
    </test>

    <test name="PipelineDockerCommitTest">
        <classes>
            <class name="com.epam.pipeline.autotests.PipelineDockerCommitTest"/>
        </classes>
    </test>

    <test name="WDLPipelineTest">
        <classes>
            <class name="com.epam.pipeline.autotests.WDLPipelineTest"/>
        </classes>
    </test>

    <test name="WDLEditorTest">
        <classes>
            <class name="com.epam.pipeline.autotests.WDLEditorTest"/>
        </classes>
    </test>

    <test name="WDLTaskEditorTest">
        <classes>
            <class name="com.epam.pipeline.autotests.WDLTaskEditorTest"/>
        </classes>
    </test>

    <test name="WDLScatterEditorTest">
        <classes>
            <class name="com.epam.pipeline.autotests.WDLScatterEditorTest"/>
        </classes>
    </test>

    <test name="LaunchClusterTest">
        <classes>
            <class name="com.epam.pipeline.autotests.LaunchClusterTest"/>
        </classes>
    </test>

    <test name="RunPipelineWithOutputParameterTest">
        <classes>
            <class name="com.epam.pipeline.autotests.RunPipelineWithOutputParameterTest"/>
        </classes>
    </test>

    <test name="RunPipelineWithSeveralOutputParametersTest">
        <classes>
            <class name="com.epam.pipeline.autotests.RunPipelineWithSeveralOutputParametersTest"/>
        </classes>
    </test>

    <test name="LaunchParametersNavigationTest">
        <classes>
            <class name="com.epam.pipeline.autotests.LaunchParametersNavigationTest"/>
        </classes>
    </test>

    <test name="LaunchParametersRoleModelTest">
        <classes>
            <class name="com.epam.pipeline.autotests.LaunchParametersRoleModelTest"/>
        </classes>
    </test>

    <test name="LaunchParametersTypesTest">
        <classes>
            <class name="com.epam.pipeline.autotests.LaunchParametersTypesTest"/>
        </classes>
    </test>

    <test name="Launch_NonRequiredParameterTest">
        <classes>
            <class name="com.epam.pipeline.autotests.Launch_NonRequiredParameterTest"/>
        </classes>
    </test>

    <test name="Launch_InstanceConfigTest">
        <classes>
            <class name="com.epam.pipeline.autotests.Launch_InstanceConfigTest"/>
        </classes>
    </test>

    <test name="Launch_ParameterWithNoValueTest">
        <classes>
            <class name="com.epam.pipeline.autotests.Launch_ParameterWithNoValueTest"/>
        </classes>
    </test>

    <test name="Launch_ChangeLanguageToWDLTest">
        <classes>
            <class name="com.epam.pipeline.autotests.Launch_ChangeLanguageToWDLTest"/>
        </classes>
    </test>

    <test name="Launch_DifferentTypesParametersValidationTest">
        <classes>
            <class name="com.epam.pipeline.autotests.Launch_DifferentTypesParametersValidationTest"/>
        </classes>
    </test>

    <test name="FolderNavigationTest">
        <classes>
            <class name="com.epam.pipeline.autotests.FolderNavigationTest"/>
        </classes>
    </test>

    <test name="Launch_ChangeLanguageToLuigiTest">
        <classes>
            <class name="com.epam.pipeline.autotests.Launch_ChangeLanguageToLuigiTest"/>
        </classes>
    </test>

    <test name="Launch_ChangeLanguageFromWDL">
        <classes>
            <class name="com.epam.pipeline.autotests.Launch_ChangeLanguageFromWDLTest"/>
        </classes>
    </test>

    <test name="Launch_ChangeCMDTemplateTest">
        <classes>
            <class name="com.epam.pipeline.autotests.Launch_ChangeCMDTemplateTest"/>
        </classes>
    </test>

    <test name="Launch_VersionReleaseTest">
        <classes>
            <class name="com.epam.pipeline.autotests.Launch_VersionReleaseTest"/>
        </classes>
    </test>

    <test name="Launch_InputDataValidationTest">
        <classes>
            <class name="com.epam.pipeline.autotests.Launch_InputDataValidationTest"/>
        </classes>
    </test>
<!--Disabled. Reason - CP doesn't support new EPAM GitLab 12-->
    <!--<test name="RemotePipelineRepositoryTest">-->
        <!--<classes>-->
            <!--<class name="com.epam.pipeline.autotests.RemotePipelineRepositoryTest"/>-->
        <!--</classes>-->
    <!--</test>-->

    <test name="ObjectMetadataFolderTest">
        <classes>
            <class name="com.epam.pipeline.autotests.ObjectMetadataFolderTest"/>
        </classes>
    </test>

    <test name="ObjectMetadataPipelineTest">
        <classes>
            <class name="com.epam.pipeline.autotests.ObjectMetadataPipelineTest"/>
        </classes>
    </test>

    <test name="ObjectMetadataBucketTest">
        <classes>
            <class name="com.epam.pipeline.autotests.ObjectMetadataBucketTest"/>
        </classes>
    </test>

    <test name="ObjectMetadataFileTest">
        <classes>
            <class name="com.epam.pipeline.autotests.ObjectMetadataFileTest"/>
        </classes>
    </test>

    <test name="ObjectMetadataToolTest">
        <classes>
            <class name="com.epam.pipeline.autotests.ObjectMetadataToolTest"/>
        </classes>
    </test>

    <test name="SamplesMetadataTest">
        <classes>
            <class name="com.epam.pipeline.autotests.SamplesMetadataTest"/>
        </classes>
    </test>

    <test name="VersionControlTest">
        <classes>
            <class name="com.epam.pipeline.autotests.VersionControlTest"/>
        </classes>
    </test>

    <test name="PipelineConfigurationTest">
        <classes>
            <class name="com.epam.pipeline.autotests.PipelineConfigurationTest"/>
        </classes>
    </test>

    <test name="LaunchParameterRemoveParameterTest">
        <classes>
            <class name="com.epam.pipeline.autotests.LaunchParameterRemoveParameterTest"/>
        </classes>
    </test>

    <test name="DetachedConfigurationsTest">
        <classes>
            <class name="com.epam.pipeline.autotests.DetachedConfigurationsTest"/>
        </classes>
    </test>

    <test name="PauseResumeTest">
        <classes>
            <class name="com.epam.pipeline.autotests.PauseResumeTest"/>
        </classes>
    </test>

    <test name="AutopauseTest">
        <classes>
            <class name="com.epam.pipeline.autotests.AutopauseTest"/>
        </classes>
    </test>

    <!-- SLOW TESTS BELOW -->

    <test name="ClusterNodeTest" >
        <classes>
            <class name="com.epam.pipeline.autotests.ClusterNodeTest" />
        </classes>
    </test>

    <test name="Launch_PipelineRunTimeoutTest" >
        <classes>
            <class name="com.epam.pipeline.autotests.Launch_PipelineRunTimeoutTest" />
        </classes>
    </test>

    <test name="RunPipelineTest" >
        <classes>
            <class name="com.epam.pipeline.autotests.RunPipelineTest" />
        </classes>
    </test>

    <test name="PipelineDetailsTest">
        <classes>
            <class name="com.epam.pipeline.autotests.PipelineDetailsTest"/>
        </classes>
    </test>

    <test name="Launch_OutputParameterTest">
        <classes>
            <class name="com.epam.pipeline.autotests.Launch_OutputParameterTest"/>
        </classes>
    </test>

    <test name="Launch_JsonOutputFileTest">
        <classes>
            <class name="com.epam.pipeline.autotests.Launch_JsonOutputFileTest"/>
        </classes>
    </test>

    <test name="ToolsParametersTest">
        <classes>
            <class name="com.epam.pipeline.autotests.ToolsParametersTest"/>
        </classes>
    </test>

    <test name="PipelineFromTemplateTest">
        <classes>
            <class name="com.epam.pipeline.autotests.PipelineFromTemplateTest"/>
        </classes>
    </test>

    <test name="NotificationsTest">
        <classes>
            <class name="com.epam.pipeline.autotests.NotificationsTest"/>
        </classes>
    </test>

    <test name="ToolsScanTest">
        <classes>
            <class name="com.epam.pipeline.autotests.ToolsScanTest"/>
        </classes>
    </test>

    <test name="GlobalSearchTest">
        <classes>
            <class name="com.epam.pipeline.autotests.GlobalSearchTest"/>
        </classes>
    </test>

    <test name="SystemLoggingTest">
        <classes>
            <class name="com.epam.pipeline.autotests.SystemLoggingTest"/>
        </classes>
    </test>
</suite>
