<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="UITests" verbose="1" parallel="classes" thread-count="1">

    <test name="RunToolsInSandBoxTest">
        <classes>
            <class name="com.epam.pipeline.autotests.RunToolsInSandBoxTest"/>
        </classes>
    </test>

    <test name="RunToolsInSandboxCheckDataStorageTest">
        <classes>
            <class name="com.epam.pipeline.autotests.RunToolsInSandboxCheckDataStorageTest"/>
        </classes>
    </test>

    <test name="StorageRulesTest" enabled="false">
        <classes>
            <class name="com.epam.pipeline.autotests.StorageRulesTest"/>
        </classes>
    </test>

    <test name="NfsDataStorageTest" enabled="false">
        <classes>
            <class name="com.epam.pipeline.autotests.NfsDataStorageTest"/>
        </classes>
    </test>

    <test name="PipelineReleaseTest" enabled="false">
        <classes>
            <class name="com.epam.pipeline.autotests.PipelineReleaseTest"/>
        </classes>
    </test>

    <test name="PipelineEditingTest" enabled="false">
        <classes>
            <class name="com.epam.pipeline.autotests.PipelineEditingTest"/>
        </classes>
    </test>

    <test name="PipelineEditingRepositoryTest" enabled="false">
        <classes>
            <class name="com.epam.pipeline.autotests.PipelineEditingRepositoryTest"/>
        </classes>
    </test>

    <test name="ToolsTest">
        <classes>
            <class name="com.epam.pipeline.autotests.ToolsTest"/>
        </classes>
    </test>

    <!--<test name="RegistryAdditionDeletionTest">-->
        <!--<classes>-->
            <!--<class name="com.epam.pipeline.autotests.RegistryAdditionDeletionTest"/>-->
        <!--</classes>-->
    <!--</test>-->

    <test name="DataStoragesTest" enabled="false">
        <classes>
            <class name="com.epam.pipeline.autotests.DataStoragesTest"/>
        </classes>
    </test>

    <test name="StoragePaginationTest" enabled="false">
        <classes>
            <class name="com.epam.pipeline.autotests.StoragePaginationTest"/>
        </classes>
    </test>

    <test name="RoleModelTest" enabled="false">
        <classes>
            <class name="com.epam.pipeline.autotests.RoleModelTest"/>
        </classes>
    </test>

    <!--<test name="RegistryTest">-->
        <!--<classes>-->
            <!--<class name="com.epam.pipeline.autotests.RegistryTest"/>-->
        <!--</classes>-->
    <!--</test>-->

    <test name="SshShellTest">
        <classes>
            <class name="com.epam.pipeline.autotests.SshShellTest"/>
        </classes>
    </test>

    <test name="SshPermissionTest">
        <classes>
            <class name="com.epam.pipeline.autotests.SshPermissionTest"/>
        </classes>
    </test>

    <test name="DockerCommitTest">
        <classes>
            <class name="com.epam.pipeline.autotests.DockerCommitTest"/>
        </classes>
    </test>

    <test name="PipelineDockerCommitTest">
        <classes>
            <class name="com.epam.pipeline.autotests.PipelineDockerCommitTest"/>
        </classes>
    </test>

    <test name="WDLPipelineTest" enabled="false">
        <classes>
            <class name="com.epam.pipeline.autotests.WDLPipelineTest"/>
        </classes>
    </test>

    <test name="WDLEditorTest" enabled="false">
        <classes>
            <class name="com.epam.pipeline.autotests.WDLEditorTest"/>
        </classes>
    </test>

    <test name="WDLTaskEditorTest" enabled="false">
        <classes>
            <class name="com.epam.pipeline.autotests.WDLTaskEditorTest"/>
        </classes>
    </test>

    <test name="WDLScatterEditorTest" enabled="false">
        <classes>
            <class name="com.epam.pipeline.autotests.WDLScatterEditorTest"/>
        </classes>
    </test>

    <test name="LaunchClusterTest">
        <classes>
            <class name="com.epam.pipeline.autotests.LaunchClusterTest"/>
        </classes>
    </test>

    <test name="RunPipelineWithOutputParameterTest">
        <classes>
            <class name="com.epam.pipeline.autotests.RunPipelineWithOutputParameterTest"/>
        </classes>
    </test>

    <test name="RunPipelineWithSeveralOutputParametersTest">
        <classes>
            <class name="com.epam.pipeline.autotests.RunPipelineWithSeveralOutputParametersTest"/>
        </classes>
    </test>

    <test name="LaunchParametersNavigationTest">
        <classes>
            <class name="com.epam.pipeline.autotests.LaunchParametersNavigationTest"/>
        </classes>
    </test>

    <test name="LaunchParametersRoleModelTest" enabled="false">
        <classes>
            <class name="com.epam.pipeline.autotests.LaunchParametersRoleModelTest"/>
        </classes>
    </test>

    <test name="LaunchParametersTypesTest">
        <classes>
            <class name="com.epam.pipeline.autotests.LaunchParametersTypesTest"/>
        </classes>
    </test>

    <test name="Launch_NonRequiredParameterTest" enabled="false">
        <classes>
            <class name="com.epam.pipeline.autotests.Launch_NonRequiredParameterTest"/>
        </classes>
    </test>

    <test name="Launch_InstanceConfigTest" enabled="false">
        <classes>
            <class name="com.epam.pipeline.autotests.Launch_InstanceConfigTest"/>
        </classes>
    </test>

    <test name="Launch_ParameterWithNoValueTest" enabled="false">
        <classes>
            <class name="com.epam.pipeline.autotests.Launch_ParameterWithNoValueTest"/>
        </classes>
    </test>

    <test name="Launch_ChangeLanguageToWDLTest" enabled="false">
        <classes>
            <class name="com.epam.pipeline.autotests.Launch_ChangeLanguageToWDLTest"/>
        </classes>
    </test>

    <test name="Launch_DifferentTypesParametersValidationTest" enabled="false">
        <classes>
            <class name="com.epam.pipeline.autotests.Launch_DifferentTypesParametersValidationTest"/>
        </classes>
    </test>

    <test name="FolderNavigationTest" enabled="false">
        <classes>
            <class name="com.epam.pipeline.autotests.FolderNavigationTest"/>
        </classes>
    </test>

    <test name="Launch_ChangeLanguageToLuigiTest" enabled="false">
        <classes>
            <class name="com.epam.pipeline.autotests.Launch_ChangeLanguageToLuigiTest"/>
        </classes>
    </test>

    <test name="Launch_ChangeLanguageFromWDL" enabled="false">
        <classes>
            <class name="com.epam.pipeline.autotests.Launch_ChangeLanguageFromWDLTest"/>
        </classes>
    </test>

    <test name="Launch_ChangeCMDTemplateTest" enabled="false">
        <classes>
            <class name="com.epam.pipeline.autotests.Launch_ChangeCMDTemplateTest"/>
        </classes>
    </test>

    <test name="Launch_VersionReleaseTest" enabled="false">
        <classes>
            <class name="com.epam.pipeline.autotests.Launch_VersionReleaseTest"/>
        </classes>
    </test>

    <test name="Launch_InputDataValidationTest">
        <classes>
            <class name="com.epam.pipeline.autotests.Launch_InputDataValidationTest"/>
        </classes>
    </test>
    <!--Disabled. Reason - CP doesn't support new EPAM GitLab 12-->
    <!--<test name="RemotePipelineRepositoryTest">-->
        <!--<classes>-->
            <!--<class name="com.epam.pipeline.autotests.RemotePipelineRepositoryTest"/>-->
        <!--</classes>-->
    <!--</test>-->

    <test name="ObjectMetadataFolderTest" enabled="false">
        <classes>
            <class name="com.epam.pipeline.autotests.ObjectMetadataFolderTest"/>
        </classes>
    </test>

    <test name="ObjectMetadataPipelineTest" enabled="false">
        <classes>
            <class name="com.epam.pipeline.autotests.ObjectMetadataPipelineTest"/>
        </classes>
    </test>

    <test name="ObjectMetadataBucketTest" enabled="false">
        <classes>
            <class name="com.epam.pipeline.autotests.ObjectMetadataBucketTest"/>
        </classes>
    </test>

    <test name="ObjectMetadataFileTest" enabled="false">
        <classes>
            <class name="com.epam.pipeline.autotests.ObjectMetadataFileTest"/>
        </classes>
    </test>

    <test name="ObjectMetadataToolTest" enabled="false">
        <classes>
            <class name="com.epam.pipeline.autotests.ObjectMetadataToolTest"/>
        </classes>
    </test>

    <test name="SamplesMetadataTest" enabled="false">
        <classes>
            <class name="com.epam.pipeline.autotests.SamplesMetadataTest"/>
        </classes>
    </test>

    <test name="VersionControlTest" enabled="false">
        <classes>
            <class name="com.epam.pipeline.autotests.VersionControlTest"/>
        </classes>
    </test>

    <test name="PipelineConfigurationTest" enabled="false">
        <classes>
            <class name="com.epam.pipeline.autotests.PipelineConfigurationTest"/>
        </classes>
    </test>

    <test name="LaunchParameterRemoveParameterTest" enabled="false">
        <classes>
            <class name="com.epam.pipeline.autotests.LaunchParameterRemoveParameterTest"/>
        </classes>
    </test>

    <test name="DetachedConfigurationsTest">
        <classes>
            <class name="com.epam.pipeline.autotests.DetachedConfigurationsTest"/>
        </classes>
    </test>

    <test name="PauseResumeTest">
        <classes>
            <class name="com.epam.pipeline.autotests.PauseResumeTest"/>
        </classes>
    </test>

    <test name="AutopauseTest">
        <classes>
            <class name="com.epam.pipeline.autotests.AutopauseTest"/>
        </classes>
    </test>

    <!-- SLOW TESTS BELOW -->

    <test name="ClusterNodeTest" >
        <classes>
            <class name="com.epam.pipeline.autotests.ClusterNodeTest" />
        </classes>
    </test>

    <test name="Launch_PipelineRunTimeoutTest" enabled="false" >
        <classes>
            <class name="com.epam.pipeline.autotests.Launch_PipelineRunTimeoutTest" />
        </classes>
    </test>

    <test name="RunPipelineTest" >
        <classes>
            <class name="com.epam.pipeline.autotests.RunPipelineTest" />
        </classes>
    </test>

    <test name="PipelineDetailsTest">
        <classes>
            <class name="com.epam.pipeline.autotests.PipelineDetailsTest"/>
        </classes>
    </test>

    <test name="Launch_OutputParameterTest">
        <classes>
            <class name="com.epam.pipeline.autotests.Launch_OutputParameterTest"/>
        </classes>
    </test>

    <test name="Launch_JsonOutputFileTest">
        <classes>
            <class name="com.epam.pipeline.autotests.Launch_JsonOutputFileTest"/>
        </classes>
    </test>

    <test name="ToolsParametersTest">
        <classes>
            <class name="com.epam.pipeline.autotests.ToolsParametersTest"/>
        </classes>
    </test>

    <test name="PipelineFromTemplateTest" enabled="false">
        <classes>
            <class name="com.epam.pipeline.autotests.PipelineFromTemplateTest"/>
        </classes>
    </test>

    <test name="NotificationsTest" enabled="false">
        <classes>
            <class name="com.epam.pipeline.autotests.NotificationsTest"/>
        </classes>
    </test>

    <test name="ToolsScanTest" enabled="false">
        <classes>
            <class name="com.epam.pipeline.autotests.ToolsScanTest"/>
        </classes>
    </test>

    <test name="GlobalSearchTest" enabled="false">
        <classes>
            <class name="com.epam.pipeline.autotests.GlobalSearchTest"/>
        </classes>
    </test>

    <test name="SystemLoggingTest" enabled="false">
        <classes>
            <class name="com.epam.pipeline.autotests.SystemLoggingTest"/>
        </classes>
    </test>

    <test name="RoleBasedAccessControlTest" enabled="false">
        <classes>
            <class name="com.epam.pipeline.autotests.RoleBasedAccessControlTest"/>
        </classes>
    </test>

    <test name="RunsTest">
        <classes>
            <class name="com.epam.pipeline.autotests.RunsTest"/>
        </classes>
    </test>

    <test name="Launch_LimitMountsTest">
        <classes>
            <class name="com.epam.pipeline.autotests.LaunchLimitMountsTest"/>
        </classes>
    </test>

    <test name="PipelinesAndStoragesRepositories" enabled="false">
        <classes>
            <class name="com.epam.pipeline.autotests.PipelinesAndStoragesRepositories"/>
        </classes>
    </test>

    <test name="SharingRunsTest">
        <classes>
            <class name="com.epam.pipeline.autotests.SharingRunsTest"/>
        </classes>
    </test>

    <test name="ParallelLoadTests" enabled="false">
        <classes>
            <class name="com.epam.pipeline.autotests.ParallelLoadTests"/>
        </classes>
    </test>

    <test name="DataStoragesCLITest">
        <classes>
            <class name="com.epam.pipeline.autotests.DataStoragesCLITest"/>
        </classes>
    </test>

    <test name="CustomNodeImagesForRunsTest">
        <classes>
            <class name="com.epam.pipeline.autotests.CustomNodeImagesForRunsTest"/>
        </classes>
    </test>

    <test name="SampleProcessingModuleTest">
        <classes>
            <class name="com.epam.pipeline.autotests.SampleProcessingModuleTest"/>
        </classes>
    </test>

    <test name="PipelineLibraryTest" enabled="false">
        <classes>
            <class name="com.epam.pipeline.autotests.PipelineLibraryTest"/>
        </classes>
    </test>

    <test name="StorageSynchronizationTest" enabled="false">
        <classes>
            <class name="com.epam.pipeline.autotests.StorageSynchronizationTest"/>
        </classes>
    </test>

    <test name="RunAsTest">
        <classes>
            <class name="com.epam.pipeline.autotests.RunAsTest"/>
        </classes>
    </test>

    <test name="PlatformPreferencesTest">
        <classes>
            <class name="com.epam.pipeline.autotests.PlatformPreferencesTest"/>
        </classes>
    </test>

    <test name="PipeCLITest">
        <classes>
            <class name="com.epam.pipeline.autotests.PipeCLITest"/>
        </classes>
    </test>

    <test name="DataStoragesFeaturesTest" enabled="false">
        <classes>
            <class name="com.epam.pipeline.autotests.DataStoragesFeaturesTest"/>
        </classes>
    </test>

    <test name="LimitMountsTest">
        <classes>
            <class name="com.epam.pipeline.autotests.LimitMountsTest"/>
        </classes>
    </test>

    <test name="DavMountStorageLimitTest" enabled="false">
        <classes>
            <class name="com.epam.pipeline.autotests.DavMountStorageLimitTest"/>
        </classes>
    </test>

    <test name="LaunchParametersTest" enabled="false">
        <classes>
            <class name="com.epam.pipeline.autotests.LaunchParametersTest"/>
        </classes>
    </test>

    <test name="NATGatewayTest" enabled="false">
        <classes>
            <class name="com.epam.pipeline.autotests.NATGatewayTest"/>
        </classes>
    </test>

    <test name="ADInfoTest" enabled="false">
        <classes>
            <class name="com.epam.pipeline.autotests.ADInfoTest"/>
        </classes>
    </test>

    <test name="NFSQuotasTest" enabled="false">
        <classes>
            <class name="com.epam.pipeline.autotests.NFSQuotasTest"/>
        </classes>
    </test>

    <test name="PlatformUsageTest" enabled="false">
        <classes>
            <class name="com.epam.pipeline.autotests.PlatformUsageTest"/>
        </classes>
    </test>

    <test name="MaintenanceModeTest" enabled="false">
        <classes>
            <class name="com.epam.pipeline.autotests.MaintenanceModeTest"/>
        </classes>
    </test>

    <test name="StorageBackupsTest" enabled="false">
        <classes>
            <class name="com.epam.pipeline.autotests.StorageBackupsTest"/>
        </classes>
    </test>

    <test name="EnvironmentTest" enabled="false">
        <classes>
            <class name="com.epam.pipeline.autotests.EnvironmentTest"/>
        </classes>
    </test>

    <test name="RestrictionsOnInstancePriceTypeTest" enabled="false">
        <classes>
            <class name="com.epam.pipeline.autotests.RestrictionsOnInstancePriceTypeTest"/>
        </classes>
    </test>
</suite>
