.path-parameter-auto-complete{
  padding: 4px 7px;
  font-size: 12px;
  font-weight: normal;
  line-height: 1;
  color: rgba(0, 0, 0, .65);
  text-align: center;
  background-color: #eee;
  border: 1px solid #d9d9d9;
}
