.container {
  vertical-align: middle;
  white-space: nowrap;
  display: inline;
  align-items: center;
}

.title {
  white-space: nowrap;
}

.provider::before,
.flag::before {
  content: "\00a0";
}

.provider,
.flag {
  margin-right: 2px;
  background: no-repeat 50%;
  background-size: contain;
  position: relative;
  display: inline-block;
  width: 1.33333333em;
  line-height: 1em;
}

.provider {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}

.provider.dark,
.flag.dark {
  margin-right: 3px;
  background-color: white;
  box-shadow: 0 0 0 1px white;
}
