.actions button {
  margin-left: 5px;
}

.form-item {
  margin-bottom: 10px;
}

.name-input {
  text-align: right;
}

.validation-error {
  color: red;
  text-align: right;
}

.parameter-name {
  width: 1px;
  white-space: nowrap;
  text-align: right;
  color: #000;
  padding-right: 5px;
}

.parameter-name.custom {
  width: 33%;
}
