.configuration {

}

.configuration .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px;
}

.configuration .row .label {
  font-weight: bold;
  width: 150px;
}

.configuration .row .label-small {
  width: 250px;
}

.configuration .row .input {
  flex: 1;
}

.configuration .app-version {
  margin-top: 15px;
  padding: 5px;
  border-top: 1px solid #ccc;
  color: #999;
  font-size: smaller;
}

.configuration .app-version + .app-version {
  margin-top: 0;
}

.configuration .network-logs {
  border-top: 1px solid #ccc;
  justify-content: flex-end;
  margin-top: 5px;
  padding-top: 5px;
}

.network-logs + .network-logs {
  border: none;
}

.configuration .network-logs .label {
  min-width: 175px;
  font-weight: normal
}

.auto-update-row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 5px;
  height: 30px;
}

.update-error {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: smaller;
  color: red;
}
