.configuration {

}

.configuration .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px;
}

.configuration .row .label {
  font-weight: bold;
  width: 150px;
}

.configuration .fow .input {
  flex: 1;
}

.configuration .app-version {
  margin-top: 15px;
  padding: 5px;
  border-top: 1px solid #ccc;
  color: #999;
  font-size: smaller;
}
