.operation-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  line-height: initial;
}

.operation-container .close {
  width: 30px;
  text-align: center;
}

.operation {
  flex-grow: 1;
  display: inline-flex;
  flex-direction: column;
  padding: 5px 10px;
  font-size: 9pt;
  background-color: white;
  min-width: 0;
}

.operation .error {
  color: red;
}

.operation .info {
  color: rgba(0, 0, 0, 0.65);
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.progress .ant-progress-bg {
  transition: none;
}
