.operation {
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  font-size: 9pt;
  background-color: white;
}

.operation .error {
  color: red;
}

.operation .info {
  color: rgba(0, 0, 0, 0.65);
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
