.container {
  font-size: medium;
  padding: 5px;
  width: 100%;
  cursor: text;
  -webkit-transition: background-color 250ms;
  -moz-transition: background-color 250ms;
  -ms-transition: background-color 250ms;
  -o-transition: background-color 250ms;
  transition: background-color 250ms;
}

.container:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.link {

}

.link::after {
  content: ' / ';
}

.link:last-child::after {
  content: unset;
}

.input {
  width: 100%;
  line-height: 1;
  font-size: 12pt;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 2px;
}

.input:focus,
.input:focus-within {
  outline-width: 3px;
  outline-offset: -3px;
  outline-color: rgba(0, 103, 244, 0.25);
}
