ul.dependencies {
  list-style-type: disc;
  list-style-position: inside;
  font-size: larger;
}

li.dependency {
  margin-bottom: 8px;
}

li.dependency span {
  margin-left: 5px;
}

li.dependency .description {
  font-style: italic;
  font-size: smaller;
}
