.run-logs-section {
  overflow: auto;
  position: relative;
  width: 100%;
  height: 100%;
}

.run-task {
  padding: 5px 0;
}

.run-task .run-task-title {
  display: flex;
  align-items: center;
  cursor: pointer;
  line-height: 24px;
}

.run-task .run-task-title .run-task-name {
  margin-left: 5px;
}

.run-task.active .run-task-title .run-task-name {
  font-weight: bold;
}

.run-task .time-info {
  margin-top: 2px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: smaller;
}

.run-task .time-info > span {
  padding-left: 18px;
}

.run-tasks-list-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;
}

.run-tasks-list-container .run-tasks-search {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.run-tasks-list-container .run-tasks-list {
  flex: 1;
  overflow: auto;
}

.logs {
  height: 100%;
  overflow: auto;
}
