.table {
  overflow-y: auto;
}

.table > div > div {
  filter: none !important;
}

.region-row {
  cursor: pointer;
}

.region-row td {
  padding: 6px !important;
}

.region-row.selected {
  background-color: #ebf6fd;
  font-weight: bold;
}

.actions {
  margin-top: 10px;
}

.actions button,
.permission-table-actions button {
  margin-left: 5px;
}

.permission-table-row {
  height: 31px;
}

.code-editor {
  line-height: 1.25;
  width: 100%;
  border: 1px solid #ddd;
}

.permission-icon {
  width: 20px;
}

.permission-actions {
  text-align: right;
}

.permission-cell {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.hidden-item {
  display: none;
}

.file-share-mount-row {
  border-bottom: 1px solid #ddd;
}

.file-share-mount-row:last-child {
  border-bottom: none;
}
