.table {
  overflow-y: auto;
}

.table > div > div {
  filter: none !important;
}

.template-row {
  cursor: pointer;
}

.template-row td {
  padding: 6px !important;
}

.template-row.disabled {
  color: #ccc;
}

.template-row.selected {
  background-color: #ebf6fd;
  font-weight: bold;
}

.settings-property {
  font-weight: bold;
  min-width: 100px;
}
