.input-container {
    display: flex;
    flex-direction: column;
}
.port-container {
    display: flex;
    align-items:flex-start;
    justify-content: left;
}
.form-item-port {
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;
    width: 100%;
}
.form-item-port > div {
    width: 100%;
}
.port-container {
    margin-bottom: 5px;
}
.port-container > button {
    margin-left: 5px;
    height: 32px;
}
.ip-container {
    display: flex;
    flex-wrap: nowrap;
    align-items:flex-start;
    justify-content: space-between;
    width: 100%;
}
.ip-container > div {
    width: 100%;
    margin-right: 5px !important; 
}
.footer-buttons-container {
    display: flex;
    justify-content: space-between;
}
.add-button-container {
    display: flex;
    justify-content: flex-end;
}
