.run-launch-command-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  overflow: auto;
}

.run-launch-command-section .run-launch-command-tabs {
  flex-shrink: 0;
}

.run-launch-command-tabs .run-launch-command-tabs-menu {
  border-bottom: none;
  line-height: 28px;
}

.run-launch-command-tabs .run-launch-command-tabs-menu .run-launch-command-tabs-menu-item {
  display: inline-flex;
  align-items: center;
}

.run-launch-command-section .run-launch-command-content {
  margin-top: 5px;
  padding: 5px;
  flex: 1;
  overflow: auto;
}

.run-launch-command-section .run-launch-command-content .launch-command {
  width: 100%;
  max-height: 100%;
  overflow: auto;
}
