.tool-scanning-info-card {
  width: 100%;
  min-height: 100%;
  height: auto;
}

.title {
  font-size: 20px;
  font-weight: 600;
  margin-right: 10px;
  vertical-align: middle;
}

.vulnerability-table {
  width: 100%;
}

.vulnerability-table-row {
  cursor: pointer;
}

.vulnerability-severity-critical {
  color: #e8404b;
}

.vulnerability-severity-high {
  color: #fd854e;
}

.vulnerability-severity-medium {
  color: #fed954;
}

.vulnerability-severity-low {
  color: #7dccc0;
}

.vulnerability-severity-negligible {
  color: #7c7f79;
  opacity: 0.5;
}

.vulnerability-row td {
  padding: 2px 8px !important;
}

.severity-column {

}

.fixed-by {
  font-size: smaller;
  color: #777;
}
