<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:remove="all">Template of email to subscribers, in case minor version has been changed but list of issues is empty</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<p> Good day! </p>
<p> A new Cloud-pipeline version has been released. <br>
  Version changed from <span th:text="${oldVersion}"></span> to <span th:text="${newVersion}"></span>
</p>
<p> Regards, <br /> &emsp; <em>The Cloud-Pipeline Team</em>
</p>
</body>
</html>