<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Template of email to subscribers, in case minor version has been changed</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<p> Dear users, </p>
<p> A new Cloud Pipeline version has been released. <br>
    The version changed from <span th:text="${oldVersion}"></span> to <span th:text="${newVersion}"></span>
</p>
<p th:if="${jiraIssues!=null&&!jiraIssues.isEmpty()&&gitHubIssues!=null&&!gitHubIssues.isEmpty()}">
    The release includes the following changes: <br>
</p>
<p th:if="${jiraIssues!=null&&!jiraIssues.isEmpty()}"> &nbsp;&nbsp;&nbsp;&nbsp;Jira issues: </p>
<ul th:if="${jiraIssues!=null&&!jiraIssues.isEmpty()}">
    <li th:each="issue : ${jiraIssues}">
        <a th:href="${issue.getUrl()}" th:text="|${issue.getKey()} - ${issue.getTitle()}|"/>
    </li>
</ul>
<p th:if="${gitHubIssues!=null&&!gitHubIssues.isEmpty()}"> &nbsp;&nbsp;&nbsp;&nbsp;Github issues: </p>
<ul th:if="${gitHubIssues!=null&&!gitHubIssues.isEmpty()}">
    <li th:each="issue : ${gitHubIssues}">
        <a th:href="${issue.getHtmlUrl()}" th:text="|${issue.getNumber()} - ${issue.getTitle()}|"/>
    </li>
</ul>
<p> Regards, <br /> &emsp; <em>The Cloud Pipeline Team</em>
</p>
</body>
</html>
