.link {
  text-decoration: none;
}

.link .configure {
  white-space: nowrap;
  text-decoration: underline;
}

.ui-run-tag {
  display: flex;
  align-items: flex-start;
  line-height: 24px;
}

.ui-run-tag .title {
  min-width: 100px;
  flex-shrink: 0;
}

.ui-run-tag .value {
  flex: 1;
}

.ui-run-tag .value .value-input {
  width: 100%;
}

.ui-run-tag .validation-error {
  font-size: smaller;
}

.ui-run-tags-validation {
  margin-left: 10px;
}
