.modal {
  perspective: 20px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.table-container {
  width: 100%;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: auto;
}

.table {
  white-space: nowrap;
  table-layout: fixed;
  border-collapse: collapse;
}

.table,
.table th {
  border-bottom: 1px solid rgba(244, 244, 244, 0.4);
  padding: 10px;
  cursor: pointer;
}

.table thead {
  background-color: #eee;
}

.table th {
  max-width: 10%;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
  min-width: 100px;
}

.table td {
  padding: 10px 2px;
}

.table thead tr > th:first-child {
  position: absolute;
  padding: 10px;
  margin: 0;
  width: 200px;
  z-index: 1053;
  left: 0;
  max-width: initial;
  background-color: #eee;
}

.table tbody tr > th:first-child {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  padding: 10px;
  margin: 0;
  width: 200px;
  height: 53px;
  background-color: #fff;
  z-index: 1053;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  max-width: initial;
}

.table thead tr > th:nth-child(2),
.table tbody tr > td:nth-child(2) {
  padding-left: 200px;
  min-width: 300px;
}

.table tbody tr:nth-child(even) {
  background-color: rgba(244, 244, 244, 0.4);
}

.modified-value.input,
.modified-value > div {
  background-color: rgba(248, 218, 4, 0.1) !important;
}

.new-value > div {
  background-color: rgba(16, 142, 233, 0.1) !important;
}

.cell {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.cell .cell-info {
  margin: 0 5px 0 2px;
}

.link-description {
  display: flex;
  align-items: center;
}

.issues {
  margin-left: 2px;
  color: orange;
}

.user-name-cell-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.user-name-cell {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
