
.indent {
  > * {
    display: block;
    margin-bottom: 10px;
  }
}

.parameter-field {
  display: flex;
  flex-direction: column;
}

.checkbox-field {
  display: flex;
  flex-direction: row-reverse;
  width: fit-content;
  gap: 5px;
}
