.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.header {
  font-weight: bold;
}

.tool-card,
.service-card {
  cursor: pointer;
  flex-grow: 1;
}

.project-card {
  cursor: pointer;
}

.storage-type {
  padding: 0 2px;
  border-radius: 2px;
  font-size: xx-small;
  border: 1px solid #bf2b33;
  color: #bf2b33;
}

.storage-type[type=S3] {
  border-color: #2282bf;
  color: #2282bf;
}

.storage-type[type=NFS] {
  border-color: #116118;
  color: #116118;
}

.icon-column > i {
  font-size: x-large;
  font-weight: normal;
}

.icon-container > i {
  font-size: x-large;
  font-weight: normal;
  margin-right: 10px;
}

i.info {
  color: green;
}

i.warning {
  color: #ff8818;
}

i.critical {
  color: #c01911;
}

.new-notification {
  border-color: rgba(39, 150, 221, 0.5);
  -webkit-box-shadow: 0 0 1em rgba(39, 150, 221, 0.5);
  -moz-box-shadow: 0 0 1em rgba(39, 150, 221, 0.5);
  box-shadow: 0 0 1em rgba(39, 150, 221, 0.5);
}

.run-card {
  min-width: 175px;
}

.run-service-card {
  background-color: lightyellow;
}

div[type=card-content],
div[type=actions-container-background] {
  background-color: white;
}

.run-service-card div[type=card-content],
.run-service-card div[type=actions-container-background] {
  background-color: lightyellow;
}

.pipeline-card {
  min-width: 125px;
}

.pipeline-card .description {
  max-width: 400px;
}

.project-tag {
  display: inline-block;
  margin-bottom: 3px;
  margin-right: 10px;
  font-size: smaller;
}

.project-tag-key {
  padding: 0 3px;
  background-color: #efefef;
  border-bottom: 1px solid #ddd;
}

.project-tag-value {
  padding: 0 3px;
  background-color: #fefefe;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.storage-region {
  margin-left: 2px;
  font-size: xx-small;
  border-radius: 4px;
  padding: 1px 3px;
  vertical-align: middle;
  background-color: #555;
  color: white;
  white-space: nowrap;
}
