.actions button {
  margin-left: 5px;
}

.user-icon {
  width: 20px;
}

.user-actions {
  text-align: right;
}

.user-allow-deny-actions {
  text-align: center;
}

.selected-row {
  background-color: #f0f0f0;
  font-weight: bold;
  cursor: pointer;
}

.row {
  cursor: pointer;
}

.table > div > div {
  filter: none !important;
}

.owner-container input {
  font-weight: bold;
  border: 1px solid transparent;
  background-color: transparent;
  padding-left: 4px !important;
}

.owner-container input:focus,
.owner-container input:hover {
  border: 1px solid #ccc !important;
}
