.table > div > div {
  filter: none !important;
}

.selectable-cell {
  cursor: pointer;
}

.item-type-cell {
  width: 40px;
  cursor: pointer;
}

.checkbox-cell {
  width: 30px;
}

.buttons-container {
  text-align: right;
}

.buttons-container button {
  margin-left: 5px;
}

.library-tree li {
  padding: 0;
}

.tree-item-title i {
  margin-right: 5px;
  font-size: larger;
}

.expansion-expression-title{
  float: left;
  width: 120px;
  align-self: center;
}

.navigation-dropdown-container {
  width: 300px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 1em #666;
}

.navigation-dropdown-items-container {
  max-height: 50vh;
  overflow: auto;
}

.tool-row {
  cursor: pointer;
}

.tool-column-tags {
  width: 30%;
}

.parameter-row {
  cursor: pointer;
}

.hint {
  cursor: pointer;
}

.hint:hover {
  color: #225780;
}

.search-result {
  font-weight: bold;
  background-color: yellow;
}

.storage-region {
  margin-left: 2px;
  font-size: xx-small;
  border-radius: 4px;
  padding: 1px 3px;
  vertical-align: middle;
  background-color: #555;
  color: white;
}
