.layout {
  width: 100%;
  background-color: transparent;
  position: relative;
  padding: 5px;
}

.layout-header {
  padding: 0 10px 0 4px;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #eee;
  z-index: 5;
}

.layout-content {
  padding: 5px;
}

.item-header i {
  margin-right: 5px;
}

.item-header {
  font-size: medium;
  margin-left: 5px;
  vertical-align: middle;
  color: #444;
}

.section {
  border-radius: 0;
  margin-bottom: 5px;
  border: 1px solid #ccc;
}

.form-item-row {
  margin: 2px 0 !important;
}

.form-item-action {
  text-align: center;
  padding-left: 10px;
}

.form-item-action button {
  height: 32px;
  vertical-align: middle;
}

.price {

}

.price-loading {
  color: #aaa;
}

.hidden-item {
  display: none;
}

.code-editor {
  height: 100px;
  background-color: #efefef;
  border: 1px solid #cccccc
}

.code-editor-label {
  margin-right: 15px;
  font-weight: bolder;
}

.parameter-name {
  margin-left: -10px;
  text-align: right;
  border: 1px dashed #777;
}

.parameter-name:disabled {
  color: #666;
}

.system-parameter-name {
  text-align: right;
  border: none;
  color: black;
  font-weight: bold;
}

.system-parameter-name:disabled {
  background-color: transparent;
}

.remove-parameter {
  padding-left: 10px;
  vertical-align: middle;
  height: 36px;
}

.remove-parameter i {
  margin-top: 2px;
  vertical-align: middle;
  font-size: larger;
  cursor: pointer;
}

.path-type {
  padding: 5px;
  cursor: pointer;
}

.path-sub-type {
  margin-left: 5px;
  font-size: smaller;
  text-transform: uppercase;
}

.hint-container {
  width: 30px;
  text-align: center;
  padding-top: 7px;
}

.hint {
  cursor: pointer;
}

.hint:hover {
  color: #225780;
}

.actions button {
  vertical-align: middle;
}

.panel-header {
  white-space: nowrap;
  flex-wrap: nowrap;
}

.panel-description-container {
  padding-right: 10px;
  white-space: nowrap;
  flex-wrap: nowrap;
  overflow: hidden;
}

.panel-description {
  margin-left: 5px;
  white-space: nowrap;
  color: #777;
}

.panel-description::after {
  content: ", ";
}

.panel-description:last-child::after {
  content: "";
}

.root-entity-type-container {

}

.settings-container {
  flex: 1;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
}

.settings-container.left {
  justify-content: flex-start;
}

.settings-container.right {
  justify-content: flex-end;
}

.settings-content {
  width: 600px;
  display: flex;
  flex-direction: column;
}

.form-item-container {
  padding: 2px;
  border-radius: 5px;
  flex-wrap: nowrap;
  -webkit-transition: background-color 250ms;
  -moz-transition: background-color 250ms;
  -ms-transition: background-color 250ms;
  -o-transition: background-color 250ms;
  transition: background-color 250ms;
}

.form-item-container:hover {
  background-color: rgba(181, 209, 255, 0.15);
}

.form-item {
  margin: 0 !important;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.form-item-label-column {
  float: left;
  width: 150px;
}

.form-items-container > div .form-item-label-column {
  width: initial;
}

.form-items-container > div:first-child .form-item-label-column {
  width: 150px;
}

.form-item-wrapper-column {
  flex: 1;
}

.form-items-container .form-item-wrapper-column {
  max-width: 150px;
}

.form-items-container > div:only-child .form-item-wrapper-column {
  max-width: initial;
}

.summary-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.summary {
  min-height: 40px;
  border: 1px solid #ccc;
  background-color: #fafafa;
  box-shadow: 0 0 3px #ddd;
  padding: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 150px;
  margin-right: 30px;
}

.summary-item {
  flex: 1;
  padding: 5px;
  border: 1px solid #eee;
  font-size: larger;
  white-space: nowrap;
  margin: 2px;
  text-align: center;
}
