.properties-btn {
  @apply absolute top-[100px];
  left: calc(100% - 15px);
  z-index: 1;
  top: 50px;
  transform: translateX(-50%) rotate(-90deg);
}

.properties-panel {
  @apply p-2 bg-white flex flex-col absolute top-[100px] w-[400px];
  @apply rounded-md border border-slate-200;
  left: calc(100% - 400px);
  top: 0;
  z-index: 1;
}

.properties-panel-content {
  @apply py-1;
}