 server {
    listen                      8181 ssl;
    # We're listening "maintenance" server port also
    listen                      8383 ssl;
    server_name                 ${CP_IDP_EXTERNAL_HOST};

    # SSL
    ssl_certificate             /etc/idp/pki/ssl-public-cert.pem;
    ssl_certificate_key         /etc/idp/pki/ssl-private-key.pem;

    # Server block shared configuration for all the "Endpoints"
    include /etc/nginx/endpoints-config/server.common.conf;

    location / {
        resolver         ${CP_EDGE_CLUSTER_RESOLVER} valid=${CP_EDGE_CLUSTER_RESOLVER_TIMEOUT_SEC}s ipv6=off;
        set              ${CP_DOLLAR}cp_auth_backend "https://${CP_IDP_INTERNAL_HOST}:${CP_IDP_INTERNAL_PORT}";
        proxy_pass       ${CP_DOLLAR}cp_auth_backend;
        proxy_set_header Host ${CP_DOLLAR}http_host;
    }
}
