apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: cp-notifier
  namespace: default
spec:
  replicas: 1
  template:
    metadata:
      name: cp-notifier
      namespace: default
      labels:
        cloud-pipeline/cp-notifier: "true"
    spec:
      nodeSelector:
        cloud-pipeline/cp-notifier: "true"
      tolerations:
      - key: node-role.kubernetes.io/master
        effect: NoSchedule
      containers:
        - name: cp-notifier
          image: $CP_COMMON_DISTR_DOCKER_PREFIX:notifier-$CP_VERSION
          imagePullPolicy: "Always"
          command: ["/init"]
          envFrom:
          - configMapRef:
              name: cp-config-global
          volumeMounts:
            - mountPath: /opt/notifier/logs
              name: notifier-logs
      volumes:
        - name: notifier-logs
          hostPath:
            path: /opt/notifier/logs
      imagePullSecrets:
        - name: cp-distr-docker-registry-secret
    