.runtime-data-state-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.runtime-metrics-table th,
.runtime-metrics-table td {
  padding: 5px;
  text-align: left;
}

table.runtime-metrics-table {
  border-collapse: collapse;
  width: 100%;
}

.task-command-code-editor {
  border: none;
}

.error-component-container {
  display: flex;
  flex: 1 0;
}
