.reservation-parameters .reservation-parameter-row {
  margin: 2px 0;
  padding: 3px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.reservation-parameter-label {
  width: 110px;
  margin-right: 5px;
  flex-shrink: 0;
}

.reservation-parameter-input {
  flex: 1;
}
