.split-panel {
  overflow: auto;
  position: relative;
  display: flex;
}

.split-panel > .panel {
  display: inline-block;
  position: relative;
}

.split-panel > .panel > .split-panel-overlay {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.split-panel .panel.resizing .split-panel-overlay {
  display: initial;
  background-color: rgba(0, 0, 0, 0.05);
}

.split-panel .panel .resizer {
  position: absolute;
  top: 0;
  bottom: 0;
  cursor: col-resize;
  z-index: 1;
}

.split-panel .panel .resizer .border {
  height: 100%;
  border-right: 1px solid #ddd;
  box-sizing: content-box;
}
