apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: cp-heapster
  namespace: default
spec:
  replicas: 1
  template:
    metadata:
      namespace: default
      labels:
        cloud-pipeline/cp-heapster: "true"
    spec:
      nodeSelector:
        cloud-pipeline/cp-heapster: "true"
      tolerations:
      - key: node-role.kubernetes.io/master
        effect: NoSchedule
      containers:
        - name: cp-heapster
          image: k8s.gcr.io/heapster-amd64:v1.5.4
          imagePullPolicy: "IfNotPresent"
          command:
          - /heapster
          - --source=kubernetes:https://$(CP_KUBE_INTERNAL_HOST):$(CP_KUBE_INTERNAL_PORT)
          - --sink=elasticsearch:http://$(CP_HEAPSTER_ELK_INTERNAL_HOST):$(CP_HEAPSTER_ELK_INTERNAL_PORT)?sniff=false
          - --metric_resolution=$(CP_HEAPSTER_METRIC_RESOLUTION)
          envFrom:
          - configMapRef:
              name: cp-config-global
          env:
          - name: http_proxy
            value:
          - name: https_proxy
            value:
          - name: HTTP_PROXY
            value:
          - name: HTTPS_PROXY
            value:
      imagePullSecrets:
        - name: cp-distr-docker-registry-secret
