.app-container {
  margin: 0 auto;
  display: flex;
  position: fixed;
  height: 100%;
  flex-direction: column;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  background-color: #fafafa;
}

.content-wrapper {
  padding: 5px;
  text-align: left;
  height: 100vh;
}
