.container {
  text-align: center;
  height: 100%;
  overflow-y: auto;
}

.table > div > div {
  filter: none !important;
}

.header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.cy-style {
  height: 400px;
  width: 1000px;
  position: relative;
  left: 0;
  margin: 20px;
}

.cy-style > div > canvas {
  left: 0;
}

.spinner {
  margin-top: 150px;
}

.graph-container-full-height {
  position: relative;
  height: 500px;
  padding-bottom: 10px;
}

.graph-container {
  border: 1px solid #e8e8e8;
  position: relative;
  height: 100%;
}

.action-buttons-container {
  padding-right: 8px;
}

.action-buttons-container button {
  margin-left: 5px;
}

.source-item-type-column {
  width: 30px
}

.source-item-type {
  font-size: large;
}

.source-item-action {
  margin-left: 10px;
}

.source-item-row {
  cursor: pointer;
  height: 35px;
}

.navigation-control {
  height: 100%;
}

.navigation-item span {

}
