.table {

}

.table > div > div {
  filter: none !important;
}

.table-row {
  cursor: pointer;
}

.table-row td {
  padding: 4px !important;
}

.title-column {

}

.completed-column {
  text-align: right;
  padding-right: 5px;
}

.pipeline-column {

}
