cffi==1.14.5
altgraph==0.17
urllib3==1.24.3
requests==2.22
setuptools==44.1.1
Flask==2.1.0
paramiko==2.7.2
jsonschema==2.6.0
numpy==1.23.1
Cython==0.29.30
cellprofiler-core===4.2.1
CellProfiler==4.2.1
pandas==1.1.5