.container {
  width: 100%;
}

.container .header {
  line-height: 30px;
  margin: 0;
  padding: 5px 10px;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 5px 5px 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.container .content {
  margin: 0;
  padding: 0;
  border: 1px solid #ddd;
  border-top: none;
  border-radius: 0 0 5px 5px;
}

.md-preview {
  flex: 1;
  overflow-y: auto;
  font-size: 10pt;
}

.md-preview code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.md-preview p {
  margin: 5px 0;
}

.md-preview p a {
  margin: 0 2px;
}

.md-preview pre {
  display: block;
  padding: 10px;
  margin: 0;
  line-height: 1.5;
  word-break: break-all;
  word-wrap: break-word;
  color: #333;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.md-preview pre > code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
}

.md-preview ul,
.md-preview ol {
  margin-top: 0;
  margin-bottom: 10px;
  display: block;
  list-style: disc inside;
}

.md-preview li {
  display: list-item;
  margin: 5px;
}

.endpoint {
  line-height: 30px;
}

.endpoint span {
  margin-right: 5px;
}

.method {
  font-size: small;
  font-weight: bold;
}

.url {
  color: rgb(0, 143, 229);
}
