.container {
  width: 100%;
}

.container .header {
  line-height: 30px;
  margin: 0;
  padding: 5px 10px;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 5px 5px 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.container .content {
  margin: 0;
  padding: 0;
  border: 1px solid #ddd;
  border-top: none;
  border-radius: 0 0 5px 5px;
}

.launch-command-code {
  flex: 1;
  overflow-y: auto;
  margin: 5px 0;
}

.endpoint {
  line-height: 30px;
}

.endpoint span {
  margin-right: 5px;
}

.method {
  font-size: small;
  font-weight: bold;
}

.url {
  color: rgb(0, 143, 229);
}
