.table {
  overflow-y: auto;
}

.table > div > div,
.children-container > div > div {
  filter: none !important;
}

th.metadata-column-value {
  max-width: 100px;
}

.metadata-column-value {
  overflow-x: hidden;
  white-space: nowrap;
  max-width: 100px;
  border-left: 1px solid #eee;
  padding-right: 5px;
}

.tree-item-name {
  cursor: pointer;
  width: 100px;
  white-space: nowrap;
}

.tree-item-name-draft {
  cursor: pointer;
  color: #999;
}

.tree-item-type {
  width: 20px;
  cursor: pointer;
}

.tree-item-selection {
  width: 20px;
  cursor: pointer;
}

.tree-item-type-draft {
  width: 20px;
  cursor: pointer;
  color: #999;
}

.tree-item-actions {
  cursor: pointer;
  width: 200px;
}

.folder-tree-item-actions {
  cursor: pointer;
  width: 200px;
}

.tree-item-actions-draft {
  cursor: pointer;
  color: #999;
}

.tree-item-actions > div > button,
.tree-item-actions > div > span,
.folder-tree-item-actions > div > button,
.folder-tree-item-actions > div > span {
  margin-left: 5px;
}

.current-folder-actions {
  padding-right: 20px;
  text-align: right;
}

.current-folder-actions > div,
.current-folder-actions > button,
.current-folder-actions nobr > button {
  margin: 1px 1px 1px 10px;
}

.item-header {
  padding-left: 10px;
  flex: 1;
}

.item-header > i {
  margin-right: 10px;
}

.item-header > i.editable-control {
  margin-right: 5px;
  margin-bottom: 3px;
}

.item-header,
.item-header input {
  font-size: large;
  font-weight: 600;
}

.item-header input {
  padding: 6px 6px 8px 4px;
}

.object-name-bold {
  font-weight: bold;
}

.children-container {

}

.children-container-larger table {
  font-size: 11pt;
}

.version-row {
  cursor: pointer;
}

.version-row-selected {
  background-color: #ecf6fd;
}

.version-row-draft {
  cursor: pointer;
  color: #999;
}

.version-row-draft-selected {
  color: #999;
  background-color: #ecf6fd;
}

.git-repository-popover {
  width: 300px;
}

.storage-actions button {
  margin-left: 5px;
}

.item-actions {
  text-align: right;
}

.item-actions-container a,
.item-actions-container button {
  margin-left: 5px;
}

.data-storage-info-container {
  margin: 10px;
}

.data-storage-info-edit-container {
  text-align: right;
}

.path-components-container {
  cursor: text;
  margin-bottom: 10px;
  width: 100%;
}

.path-components-container:hover {
  transition: background-color 0.5s ease;
  background-color: #f6f6f6;
}

.breadcrumb-item {
  padding: 5px 0;
}

.row-menu {
  border-bottom: 1px solid #e9e9e9;
}

.buttons-container {
  text-align: right;
}

.buttons-container button {
  margin-left: 5px;
  margin-bottom: 5px;
}

.item-type-cell {
  width: 20px;
}

.item-type-cell i {
  vertical-align: middle;
}

.item-type {
  font-size: larger;
}

.checkbox-cell-versions {
  width: 60px;
  vertical-align: middle;
}

.checkbox-cell {
  width: 30px;
}

.metadata-checkbox-cell {
  text-align: center;
}

.selected-cell {
  background-color: red;
}

.labels-cell span,
.labels-cell a {
  vertical-align: middle;
  margin-left: 5px;
}

.name-cell {

}

.size-cell {

}

.changed-cell {

}

.app-cell {
  text-align: left;
  width: 22px;
}

.app-cell button {
  margin-right: 5px;
}

.app-link {
  padding: 0;
  display: inline-block;
}

.app-link span,
.app-link img {
  vertical-align: middle;
}

.app-link img {
  width: 20px;
  height: 20px;
}

.miew-popover-container {
  width: 30vw;
  height: 30vh;
}

.label {
  margin-right: 4px;
  padding: 1px 4px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.folder,
.file {
  cursor: pointer;
}

.folder:hover,
.file:hover {
  text-decoration: underline;
}

.delete-marker {
  background-color: #fff2ef;
  cursor: default;
}

.modal-container {
  height: 500px;
}

.generate-download-url-input {
  white-space: pre-wrap;
}

.filter-popover-container {
  background-color: white;
  padding: 5px;
  border-radius: 4px;
  min-width: 100px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
}

.filter-popover-container > div {
  margin-top: 5px;
}

.search-control > span {
  width: 200px;
  margin-left: 12px;
}

tr.table-row-selected {
  background-color: #d2eafb;
}

.metadata-table {
  border-radius: 5px;
}

.metadata-table div {
  outline: none;
}

.metadata-column-header {
  cursor: pointer;
  display: block;
  text-align: left;
  padding: 6px 0;
}

.metadata-column-cell {
  width: 100%;
  height: 100%;
  padding: 7px 5px;
}

.metadata-column-cell.selected {
  background-color: #d2eafb;
}

.metadata-additional-actions {
  background-color: white;
}

.actions-sub-menu ul {
  right: 100% !important;
  left: auto !important;
  margin-right: 5px;
}

.action-link:hover {
  text-decoration: underline;
}

.readonly {

}

.pipeline-with-description-row {

}

.pipeline-with-description-row td.tree-item-type,
.pipeline-with-description-row td.tree-item-actions,
.pipeline-with-description-row td.folder-tree-item-actions {
  vertical-align: top;
}

.pipeline-with-description-row > td.tree-item-type > i {
  margin-top: 5px;
}

.metadata-item-container {
  display: inline-block;
  margin-bottom: 3px;
  margin-right: 10px;
  font-size: smaller;
}

.metadata-popover .metadata-item-container {
  box-shadow: none;
  overflow: auto;
  max-width: none;
  white-space: normal;
}

.metadata-item-key {
  padding: 0 3px;
  background-color: #efefef;
  border-bottom: 1px solid #ddd;
}

.metadata-item-value {
  padding: 0 3px;
  background-color: #fefefe;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.metadata-popover .metadata-item-value {
  overflow: auto;
  max-width: none;
  white-space: normal;
}

.run-table {
  overflow-y: auto;
}

.run-table > div > div {
  filter: none !important;
}

.fire-cloud-method-name-column {
  width: 25%;
}

.fire-cloud-method-row {
  cursor: pointer;
}

.configuration-confirm-btn {
  margin-top: 30px;
  text-align: right;
}

.configuration-confirm-btn > button {
  margin: 1px 1px 1px 10px;
}

.configuration-confirm-title {
  color: rgba(0, 0, 0, .65);
  font-weight: bold;
  font-size: 14px;
}

.configuration-confirm-title  > i {
  font-size: 24px;
  font-weight: normal;
  margin-right: 16px;
  padding: 0 1px;
  float: left;
  color: #ffbf00;
}

.storage-region {
  margin-left: 2px;
  border-radius: 4px;
  padding: 1px 5px 2px;
  vertical-align: text-top;
  background-color: #555;
  color: white;
}

.md-preview {
  flex: 1;
  overflow-y: auto;
  font-size: 10pt;
}

.md-preview code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.md-preview p {
  margin: 5px 0;
}

.md-preview p a {
  margin: 0 2px;
}

.md-preview pre {
  display: block;
  padding: 10px;
  margin: 10px 0;
  line-height: 1.5;
  word-break: break-all;
  word-wrap: break-word;
  color: #333;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.md-preview pre > code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
}

.md-preview ul,
.md-preview ol {
  margin-top: 0;
  margin-bottom: 10px;
  display: block;
  list-style: disc inside;
}

.md-preview li {
  display: list-item;
  margin: 5px;
}
