.launch-parameter-input {

}

.launch-parameter-path-input-addon {
  padding: 5px;
  cursor: pointer;
}

.metadata-auto-complete {
  padding: 4px 7px;
  font-size: 12px;
  font-weight: normal;
  line-height: 1;
  text-align: center;
  border: 1px solid transparent;
}

.metadata-entity-option {
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.metadata-entity-option-description {
  font-size: smaller;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
