.centered {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading {
  display: inline-flex;
  align-items: center;
}

.loading span,
.loading-progress span {
  z-index: 1;
  margin-left: 5px;
  color: #aaa;
}
