.storage-search {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.storage-search .search-input {
  flex: 1;
  margin-right: 5px;
}

.storages-list {
  width: 100%;
  max-height: calc(75vh - 200px);
  overflow: auto;
}

.storages-list .storage {
  line-height: 32px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.storages-list .storage:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.05);
}

.storages-list .storage .storage-access-info {
  color: #999;
}
