apiVersion: apps/v1
kind: Deployment
metadata:
  name: cp-storage-lifecycle-service
  namespace: default
spec:
  selector:
    matchLabels:
      cloud-pipeline/cp-storage-lifecycle-service: "true"
  replicas: 1
  template:
    metadata:
      name: cp-storage-lifecycle-service
      namespace: default
      labels:
        cloud-pipeline/cp-storage-lifecycle-service: "true"
    spec:
      nodeSelector:
        cloud-pipeline/cp-storage-lifecycle-service: "true"
      tolerations:
        - key: node-role.kubernetes.io/master
          effect: NoSchedule
      containers:
        - name: cp-storage-lifecycle-service-archive
          image: ${CP_DOCKER_DIST_SRV}lifescience/cloud-pipeline:storage-lifecycle-service-$CP_VERSION
          imagePullPolicy: "Always"
          command: ["/start.sh"]
          env:
            - name: CP_STORAGE_LIFECYCLE_DAEMON_MODE
              value: daemon
            - name: CP_STORAGE_LIFECYCLE_RUN_COMMAND
              value: archive
            - name: CP_STORAGE_LIFECYCLE_DAEMON_START_AT
              value: "23:00"
          envFrom:
            - configMapRef:
                name: cp-config-global
          livenessProbe:
            exec:
              command:
                - /bin/sh
                - -c
                - /liveness.sh
            initialDelaySeconds: 30
            periodSeconds: 15
            failureThreshold: 4
          volumeMounts:
            - mountPath: /opt/cp-sls/logs
              name: cp-sls-logs
        - name: cp-storage-lifecycle-service-restore
          image: ${CP_DOCKER_DIST_SRV}lifescience/cloud-pipeline:storage-lifecycle-service-$CP_VERSION
          imagePullPolicy: "Always"
          command: [ "/start.sh" ]
          env:
            - name: CP_STORAGE_LIFECYCLE_DAEMON_MODE
              value: daemon
            - name: CP_STORAGE_LIFECYCLE_RUN_COMMAND
              value: restore
            - name: CP_STORAGE_LIFECYCLE_DAEMON_START_EACH
              value: "20"
          envFrom:
            - configMapRef:
                name: cp-config-global
          livenessProbe:
            exec:
              command:
                - /bin/sh
                - -c
                - /liveness.sh
            initialDelaySeconds: 30
            periodSeconds: 15
            failureThreshold: 4
          volumeMounts:
            - mountPath: /opt/cp-sls/logs
              name: cp-sls-logs
      volumes:
        - name: cp-sls-logs
          hostPath:
            path: /opt/cp-sls/logs
      imagePullSecrets:
        - name: cp-distr-docker-registry-secret
