.element {
  line-height: 30px;
  height: 30px;
  color: rgba(0, 0, 0, 0.65);
  cursor: pointer;
  display: flex;
}

.element .column {
  display: flex;
  align-items: center;
  flex: auto;
  position: relative;
  overflow: initial;
}

.element .column:last-child {
  border: none;
}

.element-header {
  background-color: #fafafa;
  line-height: 30px;
  height: 30px;
  border-bottom: 1px solid #fafafa;
  color: rgba(0, 0, 0, 0.65);
  cursor: pointer;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.element:nth-child(even) {
  background-color: #fafafa;
}

.element:last-child {
  border: none;
}

.icon {
  margin: 0 4px;
}

.element.selected {
  font-weight: bold;
  background-color: rgba(34, 130, 191, 0.15);
}

.element.hovered {
  color: rgba(0, 0, 0, 0.85);
  background-color: rgba(34, 130, 191, 0.05);
}

.element.drop-target {
  font-weight: bold;
  background-color: rgba(34, 130, 191, 0.25);
}

.element-name-container, .no-wrap-container {
  min-width: 0;
  flex: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.element-name {
  text-overflow: ellipsis;
  overflow: hidden;
}

.element-size {
  font-size: smaller;
  text-overflow: ellipsis;
  overflow: hidden;
}

.element-changed {
  margin-left: 5px;
  width: 150px;
  font-size: smaller;
  text-overflow: ellipsis;
  overflow: hidden;
}
