.ant-breadcrumb.path-navigation {
  line-height: 30px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 2px 4px!important;
  background-color: #fafafa;
  border-bottom: 1px solid #ddd;
}

.ant-input.path-navigation-input {
  line-height: 32px;
  height: 37px;
  width: 100%;
  padding: 2px 0;
  border: 1px solid #ddd;
  background-color: #fafafa;
}

.ant-breadcrumb.path-navigation .part {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.85);
}

.ant-breadcrumb.path-navigation .part:hover {
  color: #2282bf;
}

.ant-breadcrumb.path-navigation .part.current,
.ant-breadcrumb.path-navigation .part.current:hover {
  cursor: text;
  color: rgba(0, 0, 0, 0.65);
}

.ant-breadcrumb.path-navigation > * {
  min-width: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 3px;
}

.ant-breadcrumb.path-navigation > *:last-child {
  flex-grow: 1;
  cursor: text;
  border: 1px solid transparent;
  padding-left: 2px;
}

.ant-breadcrumb.path-navigation > *:last-child:hover {
  border: 1px solid #ddd;
  background-color: #fafafa;
}
