.layout {
  width: 100vw;
  height: 100vh;
}

.layout .header,
.layout .footer {
  line-height: 30px;
  height: 30px;
  background-color: #fafafa;
  padding: 0 2px;
}

.layout .content {
  border: 1px solid #ddd;
  border-left: none;
  border-right: none;
  min-height: 0;
}

.file-system-tab {
  display: inline-block;
  width: 50%;
  height: 100%;
  padding: 2px;
  border-right: 1px solid #ddd;
}

.file-system-tab:last-child {
  border-right: none;
}

.content .operations-overlay {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.05);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.content .operations-overlay .operations {
  border: 1px solid #ccc;
  min-width: 400px;
  box-shadow: 0 0 2px 0 #eee;
}
