.icon-green {
  font-size: 20px;
  color: #116118;
}

.icon-blue {
  font-size: 20px;
  color: #2282bf;
}

.icon-red {
  font-size: 20px;
  color: #ae1726;
}

.icon-yellow {
  font-size: 20px;
  color: #f79e2c;
}

.link-action {
  text-transform: uppercase;
}

.blink {
  animation: blink-animation 1s infinite;
  -webkit-animation: blink-animation 1s infinite;
}

@keyframes blink-animation {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes blink-animation {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}
