.container {
  border: 1px solid rgba(0, 0, 0, 0.25);
  display: inline-block;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 1;
}

.container.hidden {
  border-radius: 20px;
  cursor: pointer;
}

.container.hidden:hover {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.container .expand {
  display: none;
}

.container.hidden .expand {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.content {
  position: relative;
  padding: 5px;
  max-width: 25vw;
  max-height: 25vh;
  visibility: visible;
  opacity: 1;
  overflow: auto;
  white-space: nowrap;
  -webkit-transition: max-width 250ms, max-height 250ms, border-radius 250ms, opacity 250ms, overflow 250ms 0s;
  -moz-transition: max-width 250ms, max-height 250ms, border-radius 250ms, opacity 250ms, overflow 250ms 0s;
  -ms-transition: max-width 250ms, max-height 250ms, border-radius 250ms, opacity 250ms, overflow 250ms 0s;
  -o-transition: max-width 250ms, max-height 250ms, border-radius 250ms, opacity 250ms, overflow 250ms 0s;
  transition: max-width 250ms, max-height 250ms, border-radius 250ms, opacity 250ms, overflow 250ms 0s;
}

.container.hidden .content {
  margin: 0;
  visibility: hidden;
  opacity: 0;
  max-width: 40px;
  max-height: 40px;
  overflow: hidden;
  -webkit-transition: max-width 250ms, max-height 250ms, border-radius 250ms, visibility 250ms 0s, opacity 250ms, overflow 250ms 0s;
  -moz-transition: max-width 250ms, max-height 250ms, border-radius 250ms, visibility 250ms 0s, opacity 250ms, overflow 250ms 0s;
  -ms-transition: max-width 250ms, max-height 250ms, border-radius 250ms, visibility 250ms 0s, opacity 250ms, overflow 250ms 0s;
  -o-transition: max-width 250ms, max-height 250ms, border-radius 250ms, visibility 250ms 0s, opacity 250ms, overflow 250ms 0s;
  transition: max-width 250ms, max-height 250ms, border-radius 250ms, visibility 250ms 0s, opacity 250ms, overflow 250ms 0s;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

.header > span {
  text-transform: uppercase;
  font-weight: bold;
}

.container.hidden .header {
  display: none;
}

.task {
  line-height: 24px;
  min-width: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.task .name {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.task:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.05);
}

.name-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.task.downloadable .name-container:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #1890ff;
}

.task .download {
  display: none;
  font-size: small;
  text-decoration: underline;
}

.task.downloadable .download {
  display: initial;
}

.task .clear {

}

.progress {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #1890ff;
  height: 2px;
  -webkit-transition: width 250ms;
  -moz-transition: width 250ms;
  -ms-transition: width 250ms;
  -o-transition: width 250ms;
  transition: width 250ms;
}

.progress.done {
  display: none;
}

.progress.error {
  background-color: red;
}
