.rule-row:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.05);
}

.rule-row-removed {
  background-color: rgba(255, 0, 0, 0.05) !important;
}

.scheduling {
  padding: 5px;
  width: 100%;
}

.scheduling-with-timezone {
  padding: 5px 5px 0 5px;
  width: 100%;
}

.timezone {
  padding: 0 5px 5px 5px;
  color: rgba(0,0,0,0.5);
  text-align: right;
  font-size: 11px;
  width: 100%;
}
