.panel {}

.anchor {
  background-color: #efefef;
  position: absolute;
}

.anchor:hover {
  background-color: #ccc;
}

.anchor.right,
.anchor.left {
  width: 5px;
  top: 0;
  bottom: 0;
  cursor: col-resize;
}

.anchor.top,
.anchor.bottom {
  height: 5px;
  left: 0;
  right: 0;
  cursor: row-resize;
}

.anchor.right {
  right: 0;
}

.anchor.left {
  left: 0;
}

.anchor.top {
  top: 0;
}

.anchor.bottom {
  bottom: 0;
}

.anchor.top.left {
  bottom: unset;
  right: unset;
  cursor: nwse-resize;
}

.anchor.top.right {
  bottom: unset;
  left: unset;
  cursor: nesw-resize;
}

.anchor.bottom.left {
  top: unset;
  right: unset;
  cursor: nesw-resize;
}

.anchor.bottom.right {
  top: unset;
  left: unset;
  cursor: nwse-resize;
}
