.operation-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  line-height: initial;
  background-color: white;
  position: relative;
  padding: 0 5px;
}

.operation-container:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.operation-container .close {
  margin-left: 5px;
}

.operation.status {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: rgba(0, 0, 0, 0.65);
  font-size: 9pt;
}

.operation.status.error {
  color: red;
}

.operation-progress {
  position: absolute;
  bottom: 1px;
  left: 5px;
  right: 0;
  height: 3px;
  background-color: #f0f0f0;
  line-height: 3px;
}

.operation-progress .operation-progress-bar {
  background-color: #1677ff;
  height: 3px;
}
