boto3==1.34.69; python_version >= "3"
botocore==1.34.69; python_version >= "3"
boto3==1.10.50; python_version < "3"
botocore==1.13.50; python_version < "3"
azure-common==1.1.18
azure-mgmt-resource==2.0.0
azure-mgmt-compute==4.5.1
azure-mgmt-network==2.0.0
google-api-core==1.32.0
google-api-python-client==1.12.11
google-auth==1.35.0
google-auth-httplib2==0.1.0
googleapis-common-protos==1.52.0