.editor-container {
  width: 100% !important;
  height: 80vh !important;
}

.table-editor-readonly,
.table-editor {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.table-editor-readonly td {
  background-color: #f0f0f0 !important;
}

.spin-container > div > div {
  filter: none !important;
}

.button {
  margin-right: 10px;
  text-transform: uppercase;
}

.button i {
  font-size: large;
}
